*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin:0;
}

.hangman-container {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.gallows-container {
    height:50%;
    margin:auto;
    position:relative;
}

.word-container {
    height:20%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding:15px;
    font-size: 3rem;
    gap:10px;
}

.underline {
    border-bottom:.5rem solid black;
}

.letter {
    font-family:Monospace;
    font-size: 5rem;
    font-weight: 700;
    visibility:hidden;
}

.keyboard-container {
    height:30%;
    display:grid;
    grid-template-columns: repeat(13, 60px);
    grid-template-rows: 1fr 1fr;
    padding:50px;
    gap:10px;
    justify-content: center;
}

.letter-btn {
    background-color:rgb(255,255,255);
    font-weight: 700;
    cursor: pointer;
    font-size:1.5rem;
    border:2px solid black;
}

.letter-btn:hover {
    background-color: rgba(132, 132, 132, 0.5)
}
