*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin:0;
}

.hangman-container {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.gallows-container {
    height:50%;
    border:1px solid black;
}

.word-container {
    height:20%;
}

.keyboard-container {
    height:30%;
    display:grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr 1fr;
    padding:50px;
    gap:10px;
}

.letter-btn {
    background-color:rgb(69, 69, 250);
    color:white;
    cursor: pointer;
    font-size:1.5rem;
    border:none;
}

.letter-btn:hover {
    background-color: rgba(132, 132, 132, 0.5)
}
